.todo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.todo-item {
  font-weight: bolder;
}

.todo-input {
  max-width: 60%;
  margin: 1rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.form-item {
  max-width: 40%;
}